.search-bar-container button {
  border-color: red;
  border-radius: 5px;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.search-bar-container input {
  width: 70%;
  border-radius: 5px;
  padding: 10px;
  border-color: red;
}
