.App {
  text-align: center;

  /* background-image: url("src/assets/movie background.jpeg"); */
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

body {
  background: linear-gradient(40deg, white, black);
  background-image: url(src/assets/Whitebackground.jpeg);
}

@media (min-width: 768px) {
  .movie-card {
    /* width: 100%; */
    flex-direction: row;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.loadButton {
  margin: 30px;
  padding: 10px 15px;
  border-radius: 10px;
}
